.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  grid-template-columns: $card-width;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @each $column, $resolution in $columns-resolutions {
    @media(min-width: $resolution) {
      grid-template-columns: repeat($column, $card-width);
    }
  }
}
